@import url(stylesheet.css); 

fieldset {
	width: 25em;
	margin: 1em auto;
	background: #ccc;
	border: 1px solid #fff;
	border-radius: 12px;
}

label, 
.validationWrap, 
input:not([type="button"]),
input:not([type="reset"]),
input:not([type="submit"]),
.warn ,
.errorNumberAndSecurity.showError, 
.errorFirstLastName.showError, 
.errorDate.showError {
	display: block;
	padding: 10px;
	min-width: 20em;
	margin: 1.5em;
}

label, .validationWrap {	margin: 0 1em .2em 1em; padding: 0; }

.showError input:not([type="button"]),
.showError input:not([type="reset"]),
.showError input:not([type="submit"]) {
	border: 1px solid red;
}

.validationWrap input:not([type="button"]),
.validationWrap input:not([type="reset"]),
.validationWrap input:not([type="submit"]) {
	margin: .4em;
}

.showError {
	padding: .4em;
	border-radius: 2px;
	background: rgba(205,0,0,0.05);
}

.error, .singleValidationContainer.showError { display: block; }

.error {
	color: #aa0000;
	text-shadow: .5px .5px .5px #000;
	padding: 0 .5em;
}

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
	width: 20em;
	margin: .5em auto;
	color: #fff;
	background: #0090ff;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	border: 1px solid #0000DD;
	border-radius: 2px;
	padding: 10px;
	font-weight: bold;
	cursor: pointer; 
	-webkit-appearance: button; 
}
input[type="reset"] {	background: #212121; border-color: #373737;}